.infoPart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infoPart > div:first-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accountTitle{
    font-size: 1.3em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 20px 0
}

.accountTitle > div{
    margin-right: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accountTitle > div:first-child{
    font-size: 1.3em;
}



.rows > div{
    display: flex;
    // justify-content: space-evenly;
}

//amount
.rows > div > div:nth-child(1){
    width: 100px;
}
//title
.rows > div > div:nth-child(2){
    width: 300px;
}
//category
.rows > div > div:nth-child(3){

}


