.type{
    width: 105px;
    // text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.title{
    height: 20px;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    max-width: 600px;
    cursor: pointer;

}
.title:hover{
    border-bottom: 1px solid black;
}
.titleInput{
    width: 300px !important;
    padding: 5px 3px;
    margin-right: 10px;
    width: 50%;
}

.colorInput{
    margin-right: 10px;
    padding: 0;
    width: 30px;
    height: 30px;
}