.type{
    width: 105px;
    // text-align: center;
    display: flex;
    align-items: center;
    // justify-content: space-evenly;
    margin-right: 10px;
}

.type:hover{
    font-weight: initial !important;
    color: initial !important;
}

.title{
    // display: flex;
    // align-items: center;
    // justify-content: center;
    max-width: 600px;
    height: 20px;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    cursor: pointer;
}

.title:hover{
    border-bottom: 1px solid black;
}

.titleColumn:hover{
    font-weight: 600 !important;
    color: black !important;
}

.titleInput{
    width: 300px !important;
    padding: 5px 3px;
    margin: 0 10px;
    width: 50%;
}

.colorInput{
    margin-right: 10px;
    padding: 0;
    width: 30px;
    height: 30px;
}