.header{
    width: 750px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.header > div:first-child > a{
    font-size: 1.3em;
    text-decoration: none;
    margin-right: 20px;
}

.header > div:first-child > a:visited{
    color: initial;
}


.header > div:first-child > a:hover{
    color: white;
}




