body {
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#root{
  /* display: flex;
  justify-content: center; */
  /* height: 100%; */
}

html,body{
  /* height: 100%; */
}

body > *{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdffb6;
}

header{
  height: 80px;
  width: 100%;
  background-color: #e9c46a;
}

.dashboard{
  margin-top: 20px;
  font-size: 2em;
}